[
  {
    "name": "meetings",
    "notion_db_id": "5864ca89725d832faabe012b9506e88b",
    "google_drive_folder_id": "1GdxafB1-zzWfYrTCA47Nq6PFrdcGxVU1"
  },
  {
    "name": "admin-meetings",
    "notion_db_id": "51d4ca89725d82bd85f981de71ba6f47",
    "google_drive_folder_id": "1ZuFbuOiZrfap4_wzU9acEang71XnyT72"
  }
]
